@page
@model CarBookingApp.Pages.Cars.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Car Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Make.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Make.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.CarModel.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.CarModel.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Colour.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Colour.Name)
        </dd>
    </dl>
</div>
@await Html.PartialAsync("_DetailButtonsPartial", Model.Car.Id)
