@page
@model CarBookingApp.Pages.Cars.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>List Of Cars</h1>

<partial name="_CreateButtonPartial" />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cars[0].Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cars[0].Make.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cars[0].CarModel.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cars[0].Colour.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cars) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Make.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarModel.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Colour.Name)
            </td>
            <td>
                @await Html.PartialAsync("_IndexButtonsPartial", item.Id)
            </td>
        </tr>
}
    </tbody>
</table>

    <partial name="_IndexDeleteFormPartial" />
    @section Scripts{
        <script src="~/js/IndexDeleteButtonScript.js"></script>
    }
